@import "../vars";

.banner {
  &__curtain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $color-background-alt;
    z-index: 2;

    &:after {
      position: absolute;
      top: 0;
      height: 100%;
      width: 348px;
    }

    &_left {
      width: 42vw;

      &:after {
        left: 42vw;
      }
    }

    &_right {
      width: calc((100vw - 2860px) / 2);
      left: auto;
      right: 0;

      &:after {
        left: auto;
        right: calc((100vw - 2860px) / 2);
        transform: rotate(180deg);
      }
    }
  }

  &__img img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 780px;
    z-index: 1;
  }

  &__content {
    position: relative;
    background-color: $color-background-banner-content;
    height: 780px;
    overflow: hidden;
    padding-top: 64px;
  }

  &__content-top {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 3;
  }

  & .social {
    margin-left: 48px;
    margin-top: 32px;
  }

  &__service {
    grid-column: 2;
    grid-row: 1 / 4;
    align-self: start;
    font-family: $font-family-title;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    justify-self: end;
  }

  &__opening-hours-block {
    width: fit-content;
    justify-self: center;
  }

  & .contact {
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
    align-items: end;
    width: fit-content;
    justify-self: center;
    margin-top: 48px;
  }

  & .contact__item {
    width: fit-content;
  }

  & .call-button {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    margin-top: 64px;
  }

  &__service-item {
    display: flex;
    align-items: center;
    gap: 28px;
    max-width: 340px;
  }

  &__advantage {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 5;
    padding-top: 32px;
    padding-bottom:  32px;
    background-color: $color-background-alt;

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      width: 25%;

      &-arrow {
        position: absolute;
        bottom: 36px;
        left: calc(50% + 72px);
        width: 50%;
        height: 2px;
        transform: translateY(50%);
        background-color: #347c80;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          border: solid #347c80;
          border-width: 0 2px 2px 0;
          padding: 3px
        }
      }
    }

    &-img {
      height: 72px;
      width: 72px;
    }

    &-text {
      font-family: Oswald, sans-serif;
      font-size: 1.25rem;
      letter-spacing: .01rem;
      text-align: center
    }
  }
}

@media (min-width: 2056px) {
  .banner {
  //  &__content {
  //    height: 874px;
  //  }

    &__img img {
      right: calc((100vw - 2460px) / 2);
    }

    //&__curtain {
    //  &:after {
    //    width: 386px;
    //  }
    //}
  }
}

@media (min-width: 2460px) {
  .banner {
    &__curtain {
      &_left {
        width: 45vw;

        &:after {
          left: 45vw;
        }
      }

      &_right {
        width: calc((100vw - 2660px) / 2);

        &:after {
          right: calc((100vw - 2660px) / 2);
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .banner {
    &__img img {
      right: calc((100vw - 1280px) / 2);
    }

    & .call-button {
      justify-self: start;
    }

    &__curtain {
      &_left {
        width: 30vw;

        &:after {
          left: 30vw;
        }
      }
    }

    &__opening-hours-block {
      justify-self: start;
    }

    & .contact {
      justify-self: start;
    }

    &__advantage {

      &-item {
        gap: 8px;

        &-arrow {
          left: calc(50% + 48px);
          bottom: 32px;
          width: 50%;
          height: 2px
        }

      }

      &-img {
        width: 64px;
        height: 64px;
      }

      &-text {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .banner {
    background-color: $color-background-alt;
    &__img img {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      height: 900px;
    }
    &__content {
      padding-bottom: 0;
      height: 900px;
    }

    &__content-top {
      grid-template-columns: 1fr;
      gap: 52px;

    }

    &__service {
      grid-column: 1;
      grid-row: 2;
      justify-self: center;
    }

    &__opening-hours-block {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;

      & .opening-hours-text {
        color: $color-text;
      }

    }

    &__social {
      margin: 0;
      justify-content: center;
    }

    & .contact {
      grid-column: 1;
      grid-row: 3;
      justify-self: center;
      font-size: 1rem;
      margin-top: 0;

      &__text {
        //color: $color-text;
        font-size: 1.125rem;
      }
    }

    &__social {
      margin-top: 16px;
    }

    & .call-button {
      grid-row: 4;
      justify-self: center;
      margin-top: 64px;
    }

    &__service-item {
      font-size: 1.125rem;
    }

    &__advantage {
      justify-content: space-between;
      background-color: $color-background-alt;
      padding-top: 48px;
      padding-bottom: 32px;
      z-index: 100;
      transform: translateY(0);

      &-text {
        font-size: 1rem;
      }

      &-item-arrow {
        display: none;
      }
    }

    &__curtain {
      height: 100%;
      background-color: $color-background-alt;

      &::after {
        height: 100%;
        width: 398px;
      }

      &_left {
        width: 0;

        &:after {
          left: -48px;
        }
      }

      &_right {
        display: none;

        &:after {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .banner__advantage {
    flex-direction: column;
    gap: 16px;
    align-items: start;
    padding-top: 64px;
    padding-bottom: 48px;

    &-item {
      flex-direction: row-reverse;
      gap: 16px;
      justify-content: start;
      width: auto;
    }
  }
}