$font-family-text: 'Open Sans', sans-serif;
$font-family-title: 'Oswald', sans-serif;

$color-text: #1B2A43;
$color-text-alt: #fcfcfc;

$content-width-desktop: 1136px;
$content-width-small-table: 768px;
$content-width-mobile: 560px;
$text-content-width-desktop: 900px;
$color-accent: #347c80;
$color-accent-lite:#43B4BC;
$color-accent-alt:#FFAC72;
$color-accent-alt-lite: #fdc496;
$color-button: #ff0000;
$color-button-hover: #F6F4F2;
$color-background: #F6F4F2;
$color-background-alt: #ffffff;
$color-background-menu: #FFF5EE;
$color-gallery-button-disable: #b0b0b0;
$color-background-banner-content: rgba(175, 175, 175, 0.16);
$color-background-footer: #274e56;
$color-border-lite: #d9d9d9;
$color-input-placeholder: #d9d9d9;