* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #347c80;
  transition: all 0.4s;
}
a:hover {
  color: #43B4BC;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #1B2A43;
  background-color: #F6F4F2;
  min-height: 100vh;
}

summary,
ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.second-header {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  height: 480px;
}
.second-header__plate {
  width: fit-content;
  max-width: 75vw;
  border-radius: 16px 16px 0 0;
  padding: 24px 96px 8px;
  background-color: #F6F4F2;
  z-index: 2;
}
.second-header__title {
  font-size: 1.5rem;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.8rem;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 8px;
}
.second-header__img-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.second-header__img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
}
.second-header__img_left {
  left: 0;
}
.second-header__img_right {
  right: 0;
}
.second-header__img_center {
  left: 50%;
  transform: translateX(-50%);
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  row-gap: 0;
}
.breadcrumb__item {
  font-size: 1rem;
}
.breadcrumb__link {
  font-size: 1rem;
  color: #347c80;
}
.breadcrumb__link:hover {
  color: #ffffff;
}

@media (min-width: 2000px) {
  .second-header__curtain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc((100vw - 2000px) / 2);
    background-color: #ffffff;
    z-index: 3;
  }
  .second-header__curtain:after {
    position: absolute;
    top: 0;
    left: calc((100vw - 2000px) / 2);
    height: 100%;
    width: 212px;
  }
  .second-header__curtain_right {
    left: auto;
    right: 0;
  }
  .second-header__curtain_right:after {
    left: auto;
    right: calc((100vw - 2000px) / 2);
    transform: rotate(180deg);
  }
  .second-header__img {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 800px) {
  .second-header {
    height: 334px;
    background-position: left top;
  }
  .second-header__plate {
    min-width: 315px;
    max-width: 100%;
    padding: 26px 16px;
    transform: translateY(56px);
  }
  .second-header .breadcrumb {
    gap: 8px;
    row-gap: 0;
  }
  .second-header .breadcrumb__link, .second-header .breadcrumb__item {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
}
.banner__curtain {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}
.banner__curtain:after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 348px;
}
.banner__curtain_left {
  width: 42vw;
}
.banner__curtain_left:after {
  left: 42vw;
}
.banner__curtain_right {
  width: calc((100vw - 2860px) / 2);
  left: auto;
  right: 0;
}
.banner__curtain_right:after {
  left: auto;
  right: calc((100vw - 2860px) / 2);
  transform: rotate(180deg);
}
.banner__img img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 780px;
  z-index: 1;
}
.banner__content {
  position: relative;
  background-color: rgba(175, 175, 175, 0.16);
  height: 780px;
  overflow: hidden;
  padding-top: 64px;
}
.banner__content-top {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 3;
}
.banner .social {
  margin-left: 48px;
  margin-top: 32px;
}
.banner__service {
  grid-column: 2;
  grid-row: 1/4;
  align-self: start;
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  justify-self: end;
}
.banner__opening-hours-block {
  width: fit-content;
  justify-self: center;
}
.banner .contact {
  grid-row: 2;
  grid-column: 1;
  justify-content: center;
  align-items: end;
  width: fit-content;
  justify-self: center;
  margin-top: 48px;
}
.banner .contact__item {
  width: fit-content;
}
.banner .call-button {
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  margin-top: 64px;
}
.banner__service-item {
  display: flex;
  align-items: center;
  gap: 28px;
  max-width: 340px;
}
.banner__advantage {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 5;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
}
.banner__advantage-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 25%;
}
.banner__advantage-item-arrow {
  position: absolute;
  bottom: 36px;
  left: calc(50% + 72px);
  width: 50%;
  height: 2px;
  transform: translateY(50%);
  background-color: #347c80;
}
.banner__advantage-item-arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  border: solid #347c80;
  border-width: 0 2px 2px 0;
  padding: 3px;
}
.banner__advantage-img {
  height: 72px;
  width: 72px;
}
.banner__advantage-text {
  font-family: Oswald, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.01rem;
  text-align: center;
}

@media (min-width: 2056px) {
  .banner__img img {
    right: calc((100vw - 2460px) / 2);
  }
}
@media (min-width: 2460px) {
  .banner__curtain_left {
    width: 45vw;
  }
  .banner__curtain_left:after {
    left: 45vw;
  }
  .banner__curtain_right {
    width: calc((100vw - 2660px) / 2);
  }
  .banner__curtain_right:after {
    right: calc((100vw - 2660px) / 2);
  }
}
@media (max-width: 1280px) {
  .banner__img img {
    right: calc((100vw - 1280px) / 2);
  }
  .banner .call-button {
    justify-self: start;
  }
  .banner__curtain_left {
    width: 30vw;
  }
  .banner__curtain_left:after {
    left: 30vw;
  }
  .banner__opening-hours-block {
    justify-self: start;
  }
  .banner .contact {
    justify-self: start;
  }
  .banner__advantage-item {
    gap: 8px;
  }
  .banner__advantage-item-arrow {
    left: calc(50% + 48px);
    bottom: 32px;
    width: 50%;
    height: 2px;
  }
  .banner__advantage-img {
    width: 64px;
    height: 64px;
  }
  .banner__advantage-text {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .banner {
    background-color: #ffffff;
  }
  .banner__img img {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    height: 900px;
  }
  .banner__content {
    padding-bottom: 0;
    height: 900px;
  }
  .banner__content-top {
    grid-template-columns: 1fr;
    gap: 52px;
  }
  .banner__service {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
  .banner__opening-hours-block {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }
  .banner__opening-hours-block .opening-hours-text {
    color: #1B2A43;
  }
  .banner__social {
    margin: 0;
    justify-content: center;
  }
  .banner .contact {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    font-size: 1rem;
    margin-top: 0;
  }
  .banner .contact__text {
    font-size: 1.125rem;
  }
  .banner__social {
    margin-top: 16px;
  }
  .banner .call-button {
    grid-row: 4;
    justify-self: center;
    margin-top: 64px;
  }
  .banner__service-item {
    font-size: 1.125rem;
  }
  .banner__advantage {
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 48px;
    padding-bottom: 32px;
    z-index: 100;
    transform: translateY(0);
  }
  .banner__advantage-text {
    font-size: 1rem;
  }
  .banner__advantage-item-arrow {
    display: none;
  }
  .banner__curtain {
    height: 100%;
    background-color: #ffffff;
  }
  .banner__curtain::after {
    height: 100%;
    width: 398px;
  }
  .banner__curtain_left {
    width: 0;
  }
  .banner__curtain_left:after {
    left: -48px;
  }
  .banner__curtain_right {
    display: none;
  }
  .banner__curtain_right:after {
    display: none;
  }
}
@media (max-width: 640px) {
  .banner__advantage {
    flex-direction: column;
    gap: 16px;
    align-items: start;
    padding-top: 64px;
    padding-bottom: 48px;
  }
  .banner__advantage-item {
    flex-direction: row-reverse;
    gap: 16px;
    justify-content: start;
    width: auto;
  }
}
.editor-post-title {
  margin-bottom: 64px;
}

.content__title {
  font-size: 2rem;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 3rem;
  margin-bottom: 64px;
  margin-top: 32px;
}
.content__title_align-left {
  text-align: left;
}
.content__title_align-right {
  text-align: right;
}
.content__title_align-center {
  text-align: center;
}
.content__video-player {
  display: block;
  border-radius: 8px;
  max-width: 768px;
  margin: 32px auto 16px;
}
.content__video-player video {
  border-radius: 8px;
}
.content__text {
  margin: 16px 0;
}

.social {
  display: flex;
  gap: 16px;
}
.social-icon {
  width: 32px;
  height: 32px;
  fill: #347c80;
  transition: all 0.4s;
}
.social-link:hover .social-icon {
  fill: #43B4BC;
}

.opening-hours {
  font-weight: 700;
  letter-spacing: 0.03rem;
  color: #347c80;
  display: flex;
  align-items: center;
  gap: 16px;
}
.opening-hours-icon {
  width: 32px;
  height: 32px;
  fill: #ff0000;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact__item {
  font-weight: 600;
  letter-spacing: 0.03rem;
  color: #347c80;
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 16px;
}
.contact__item_email {
  align-items: center;
}
.contact__item-phones-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact__item:hover .contact__icon {
  fill: #43B4BC;
}
.contact__text {
  transition: all 0.3s;
}
.contact__icon {
  height: 24px;
  width: 24px;
  fill: #ff0000;
  margin-top: 2px;
  transition: all 0.3s;
  z-index: 10;
}
.contact__icon_email {
  height: 32px;
  width: 32px;
}

.center, .editor-styles-wrapper {
  padding-left: calc(50% - 568px);
  padding-right: calc(50% - 568px);
}

.block {
  padding-top: 96px;
  padding-bottom: 128px;
}

.trp-language-switcher-container {
  border: 1px solid #d9d9d9;
  padding: 2px 8px;
  border-radius: 4px;
}

.block .wp-block-heading {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.block h1.wp-block-heading, .block .wp-block .editor-post-title {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 2.5rem;
  margin-top: 40px;
  margin-bottom: 48px;
}
.block h2.wp-block-heading, .block .wp-block h2.editor-post-title {
  font-size: 1.7rem;
  letter-spacing: 1px;
  line-height: 2.5rem;
  margin-top: 40px;
  margin-bottom: 24px;
}
.block h3.wp-block-heading, .block .wp-block h3.editor-post-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 40px;
  margin-bottom: 24px;
}
.block h4.wp-block-heading, .block .wp-block h4.editor-post-title {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-top: 32px;
  margin-bottom: 16px;
}

.wp-block-image img {
  border-radius: 8px;
}
.wp-block-image .alignleft {
  margin: 8px 16px 0 0;
}
.wp-block-image .alignright {
  margin: 8px 0 0 16px;
}

@media (max-width: 1280px) {
  .center, .editor-styles-wrapper {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .wp-block-image figure {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .center, .editor-styles-wrapper {
    padding-left: calc(50% - 280px);
    padding-right: calc(50% - 280px);
  }
  .wp-block-image figure {
    width: 100%;
    margin: 16px 0;
  }
  .block h1.wp-block-heading, .block .wp-block .editor-post-title {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .video__player {
    margin: 32px auto;
    width: 100%;
    height: auto;
  }
  .content__img {
    margin: 16px 0 !important;
  }
}
@media (max-width: 592px) {
  .center, .editor-styles-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.about-numbers {
  background-color: #ffffff;
}
.about-numbers__content {
  display: flex;
  gap: 16px;
}
.about-numbers__item {
  flex-basis: 100%;
}
.about-numbers__number {
  font-family: "Oswald", sans-serif;
  font-size: 3.25rem;
  font-weight: 700;
  color: #347c80;
  text-align: center;
}
.about-numbers__number::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #347c80;
  margin: 32px 16px 16px;
}
.about-numbers__number_greater::before {
  content: ">";
}
.about-numbers__text {
  text-align: center;
}

@media (max-width: 1280px) {
  .about-numbers__number {
    font-size: 2.75rem;
    line-height: 2.125rem;
  }
}
@media (max-width: 800px) {
  .about-numbers__item:not(:last-child):after {
    content: "";
    display: block;
    height: 2px;
    background-color: #347c80;
    margin: 64px 0 38px;
  }
  .about-numbers__number {
    text-align: start;
    margin-bottom: 24px;
  }
  .about-numbers__number::after {
    display: none;
  }
  .about-numbers__text {
    text-align: start;
  }
  .about-numbers__content {
    flex-direction: column;
  }
}
.price-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.price-list__block-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0 8px 0 2px;
  border-bottom: 2px solid #43B4BC;
  flex-basis: 50%;
}
.price-list__block-text-exp {
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 8px;
}
.price-list__item {
  display: flex;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  font-weight: 500;
  margin-top: 24px;
  margin-left: 32px;
  padding-bottom: 4px;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px dashed #FFAC72;
}
.price-list__item-text {
  min-width: 120px;
}
.price-list__item-text_fl::first-letter {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #43B4BC;
  margin-right: 6px;
}
.price-list__item-icon {
  margin-left: 32px;
  height: 28px;
  width: 100%;
}
@media (max-width: 800px) {
  .price-list__item {
    margin-left: 16px;
  }
  .price-list__item-icon {
    margin-left: 8px;
    height: 28px;
  }
  .price-list__item-icon img {
    height: 100%;
  }
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.feedback-form p {
  margin: 0;
}
.feedback-form > p {
  display: none;
}
.feedback-form .call-button {
  padding: 16px 48px;
}
.feedback-form .captcha-image {
  display: block;
  border-radius: 8px;
  border: 2px solid #43B4BC;
  background-color: #43B4BC;
}
.feedback-form .captcha-image svg path {
  fill: #fcfcfc;
}
.feedback-form .captcha-image label > input:checked + svg, .feedback-form .captcha-image .captcha-image label > input:focus + svg {
  border: 2px solid #fcfcfc;
  border-radius: 8px;
}
.feedback-form .captcha-image .cf7ic_instructions span {
  color: #fcfcfc;
}
.feedback-form .wpcf7-response-output {
  border-radius: 8px;
}
.feedback-form.invalid .wpcf7-response-output {
  border: 2px solid #ff0000 !important;
  padding: 8px;
}
.feedback-form__field-wrap {
  position: relative;
}
.feedback-form__label {
  position: absolute;
  top: -32px;
  left: 4px;
  font-family: "Oswald", sans-serif;
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.045rem;
}
.feedback-form__label_attach {
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.045rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  margin-top: -24px;
}
.feedback-form__input {
  width: 100%;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.045rem;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #43B4BC !important;
  background-color: #43B4BC !important;
  color: #fcfcfc !important;
}
.feedback-form__input:focus {
  outline-color: #FFAC72 !important;
}
.feedback-form__input_question {
  resize: none;
  height: 239px;
}
.feedback-form__image-input {
  display: none;
}
.feedback-form__submit {
  margin-top: 0;
  margin-right: 0;
  margin-left: auto;
}

.gallery-img__block {
  position: absolute;
  display: flex;
  border: 8px solid #ffffff;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
.gallery-img__block .gallery-img__wrap {
  position: relative;
}
.gallery-img__block .gallery-img__wrap_before .gallery-img__img {
  left: 0;
}
.gallery-img__block .gallery-img__wrap_after .gallery-img__img {
  right: 0;
}
.gallery-img__block_prev .gallery-img__img {
  opacity: 0;
  transition: all 0.2s ease-out;
}
.gallery-img__block_prev .gallery-img__wrap_before .gallery-img__img {
  left: -100%;
}
.gallery-img__block_prev .gallery-img__wrap_after .gallery-img__img {
  right: -100%;
}
.gallery-img__block:after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ffffff;
}
.gallery-img__wrap {
  position: relative;
  overflow: hidden;
  flex-basis: 50%;
}
.gallery-img__wrap_before {
  border-radius: 8px 0 0 8px;
}
.gallery-img__wrap_before .gallery-img__text {
  top: 16px;
  right: 32px;
}
.gallery-img__wrap_after {
  border-radius: 0 8px 8px 0;
}
.gallery-img__wrap_after .gallery-img__text {
  top: 16px;
  left: 32px;
}
.gallery-img__img {
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-out;
}
.gallery-img__text {
  position: absolute;
}

.team__items-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.team__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.team__img {
  width: 100%;
}
.team__img-wrap {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  overflow: hidden;
}
.team__img-wrap:after {
  content: "";
  border-radius: 50%;
  box-shadow: inset 0px 4px 5px #d7d7d7;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.team__text {
  width: 340px;
  text-align: center;
}

@media (max-width: 1280px) {
  .team__img-wrap {
    width: 224px;
    height: 224px;
  }
  .team__text {
    width: 224px;
  }
}
@media (max-width: 800px) {
  .team__content {
    overflow: hidden;
  }
  .team__items-wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
    overflow-x: scroll;
    padding-bottom: 16px;
  }
  .team__img-wrap {
    width: 55.5555555556vw;
    height: 55.5555555556vw;
    max-width: 340px;
    max-height: 340px;
  }
  .team__text {
    width: auto;
    max-width: 340px;
  }
}
.blog-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #1B2A43;
  transition: all 0.4s ease;
}
.blog-cart:hover {
  color: #347c80;
}
.blog-cart:hover .blog-cart__img {
  scale: 1.05;
}
.blog-cart__img-wrap {
  border-radius: 8px;
  overflow: hidden;
  height: 247px;
}
.blog-cart__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: all 0.6s ease;
}
.blog-cart__title {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 8px;
  height: fit-content;
}
.blog-cart__text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.blog-cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  align-self: end;
}
.blog-cart__date {
  font-size: 1rem;
}
.blog-cart__more-link {
  display: flex;
  align-items: center;
  padding: 16px 0 16px 32px;
}
.blog-cart__more-link:hover .blog-cart__icon {
  fill: #43B4BC;
  stroke: #43B4BC;
}
.blog-cart__icon {
  fill: #347c80;
  stroke: #347c80;
  width: 32px;
  height: 32px;
  transition: all 0.3s;
}

@media (max-width: 800px) {
  .blog-cart__footer {
    margin-top: 16px;
  }
  .blog-cart__img-wrap {
    height: auto;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 64px;
}
.pagination .dots {
  line-height: 2.5rem;
  color: #347c80;
}
.pagination .page-numbers:not(.dots) {
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  color: #347c80;
  border: 2px solid #347c80;
  border-radius: 16px;
  transition: all 0.3s;
}
.pagination .page-numbers:not(.dots).current {
  color: #fcfcfc !important;
  background-color: #347c80 !important;
  border-color: #347c80 !important;
}
.pagination .page-numbers:not(.dots):hover:not(.dots) {
  color: #43B4BC;
  border-color: #43B4BC;
}
.pagination .page-numbers:not(.dots):hover:not(.dots) .pagination__icon {
  fill: #43B4BC;
  height: 20px;
}
.pagination__icon {
  height: 16px;
  width: 16px;
  fill: #347c80;
  transition: all 0.3s;
}
.pagination__icon_prev {
  transform: rotate(180deg);
}

.footer {
  padding-top: 64px;
  padding-bottom: 32px;
  background-color: #274e56;
  margin-top: auto;
  margin-bottom: 0;
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  column-gap: 64px;
  row-gap: 44px;
}
.footer .social {
  grid-column: 1/3;
  justify-content: center;
  margin: 0;
}
.footer .social .social-link .social-icon {
  fill: #FFAC72;
}
.footer .social .social-link:hover .social-icon {
  fill: #43B4BC;
}
.footer .contact a {
  color: #fcfcfc;
}
.footer .contact a:hover {
  color: #43B4BC;
}
.footer .contact__item {
  color: #fcfcfc;
}
.footer .contact__item:hover .contact__text {
  color: #43B4BC;
}
.footer .contact__item:hover .contact__icon {
  fill: #43B4BC;
}
.footer .contact__icon {
  fill: #FFAC72;
}
.footer__quote {
  color: #fcfcfc;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  margin-top: -8px;
}
.footer__links-wrap {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.footer__links-wrap-row {
  display: flex;
  gap: 32px;
  flex-direction: row;
}
.footer__link {
  font-size: 0.75rem;
  color: #fcfcfc;
}

@media (max-width: 1280px) {
  .footer__quote {
    color: #fcfcfc;
    font-family: "Oswald", sans-serif;
    font-size: 1.65rem;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.04rem;
    margin-top: -8px;
  }
}
@media (max-width: 800px) {
  .footer {
    height: auto;
    padding-bottom: 32px;
  }
  .footer__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 44px;
  }
  .footer .social {
    grid-column: 1;
    grid-row: 1;
  }
  .footer .contact {
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
  }
  .footer__quote {
    grid-column: 1;
    grid-row: 3;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.01rem;
    margin-top: 0;
    justify-self: center;
  }
  .footer__links-wrap {
    grid-column: 1;
    grid-row: 4;
  }
  .footer__links-wrap-row {
    flex-direction: column;
    gap: 8px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
  min-height: 90px;
}

.logo {
  display: flex;
  gap: 6px;
}
.logo__vl {
  height: 46px;
  width: 1px;
  background-color: #43B4BC;
}
.logo__title {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  color: #43B4BC;
  letter-spacing: 0.0125rem;
}
.logo__subtitle {
  font-size: 0.75rem;
  letter-spacing: 0.01rem;
  color: #1B2A43;
}

.burger {
  display: none;
}
.burger__checkbox {
  display: none;
}

.menu__list {
  display: flex;
  gap: 32px;
}
.menu .social, .menu .contact, .menu__button-close {
  display: none;
}
.menu .menu-item a {
  color: #1B2A43;
  font-size: 1rem;
  transition: color 0.2s;
}
.menu .menu-item a:hover, .menu .menu-item a .current-menu-item {
  color: #43B4BC;
}
.menu .menu-item a_active {
  color: #347c80;
}
.menu .current-menu-item a {
  color: #43B4BC;
}

@media (max-width: 800px) {
  .header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
  }
  .header .burger {
    position: fixed;
    display: block;
    top: 34px;
    right: 32px;
    margin: 0;
    width: 32px;
    height: 23px;
    cursor: pointer;
    z-index: 10000;
  }
  .header .burger span {
    width: 100%;
    transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    height: 3px;
    background: #1B2A43;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: rotate(0);
    border-radius: 3px;
  }
  .header .burger span:nth-child(1) {
    top: 0;
  }
  .header .burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%);
  }
  .header .burger span:nth-child(3) {
    bottom: 0;
  }
  .header .burger__checkbox:checked ~ .menu {
    opacity: 1;
    height: 100vh;
    overflow: auto;
    padding: 72px 0;
  }
  .header .burger__checkbox:checked ~ .menu .menu__list {
    opacity: 1;
  }
  .header .burger__checkbox:checked ~ .burger {
    position: fixed;
  }
  .header .burger__checkbox:checked ~ .burger span:nth-child(1) {
    top: 40%;
    transform: rotate(-45deg);
  }
  .header .burger__checkbox:checked ~ .burger span:nth-child(2) {
    bottom: -4px;
  }
  .header .burger__checkbox:checked ~ .burger span:nth-child(3) {
    bottom: 45%;
    transform: rotate(45deg);
  }
  .header .menu {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
    opacity: 0;
    height: 0;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    background-color: #FFF5EE;
    top: 0;
    left: 0;
    padding: 0;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 1000;
  }
  .header .menu .social {
    display: flex;
  }
  .header .menu .contact {
    display: flex;
  }
  .header .menu .contact .contact__item {
    gap: 8px;
  }
  .header .menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: fit-content;
    opacity: 0;
    transition: opacity 0.1s;
  }
  .header .menu__link {
    color: #1B2A43;
    font-size: 1.25rem;
    padding: 16px;
    transition: color 0.2s;
  }
  .header .menu__link:hover {
    color: #43B4BC;
  }
  .header .menu__link_active {
    color: #347c80;
  }
}
.block-image {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
}
.block-image_top {
  display: none;
}
.block-image_side {
  border-radius: 8px;
}
.block-image__img {
  position: absolute;
  top: 0;
}
.block-image__img_top {
  height: 100%;
  width: auto;
}
.block-image__img_side {
  border-radius: 8px;
}

@media (max-width: 1280px) {
  .block-image_top {
    display: block;
    height: 35vw;
  }
  .block-image_side {
    display: none;
  }
}
@media (max-width: 800px) {
  .block-image_top {
    height: 300px;
  }
  .block-image__img_top {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 640px) {
  .block-image__img_top {
    left: 50%;
    transform: translateX(-60%);
  }
}
.call-button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #fcfcfc;
  background-color: #ff0000;
  font-weight: 500;
  letter-spacing: 0.02rem;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 20px;
  padding: 16px 48px;
  border: 1px solid #ffac72;
  border-radius: 8px;
  transition: all 0.3s;
}
.call-button__icon {
  stroke: #F6F4F2;
  transition: all 0.3s;
  z-index: 10;
  margin-left: -8px;
}
.call-button:hover {
  background-color: #43B4BC;
  color: #fcfcfc;
}
.call-button:hover .call-button__icon {
  animation: phone-ring 2s infinite ease-in-out;
}

.call-button-block {
  display: flex;
  margin-bottom: 128px;
}
.call-button-block_left {
  justify-content: start;
}
.call-button-block_center {
  justify-content: center;
}
.call-button-block_right {
  justify-content: end;
}

.gallery__img-slider {
  position: relative;
  width: 752px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8px;
}
.gallery__img {
  position: absolute;
  top: 0;
  opacity: 1;
  transition: all 0.6s ease-out, opacity 1s;
}
.gallery__img-text {
  position: absolute;
  z-index: 100;
}
.gallery__img-wrap {
  overflow: hidden;
}
.gallery__img-wrap_before .gallery__img {
  left: 0;
  border-radius: 8px 0 0 8px;
}
.gallery__img-wrap_before .gallery__img-text {
  top: 16px;
  right: calc(50% + 32px);
}
.gallery__img-wrap_after .gallery__img {
  right: 0;
  border-radius: 0 8px 8px 0;
}
.gallery__img-wrap_after .gallery__img-text {
  top: 16px;
  left: calc(50% + 32px);
}
.gallery__img-block_prev .gallery__img {
  opacity: 0;
  transition: all 0.6s ease-out;
}
.gallery__img-block_prev .gallery__img-wrap_before .gallery__img {
  left: -100%;
}
.gallery__img-block_prev .gallery__img-wrap_after .gallery__img {
  right: -100%;
}
.gallery__img-block::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 4px;
  height: 100%;
  background-color: #1B2A43;
}
.gallery__button-block {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-top: 52px;
}
.gallery__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__button:hover .gallery__button-icon {
  fill: #43B4BC;
  stroke: #43B4BC;
  border-color: #43B4BC;
}
.gallery__button:active .gallery__button-icon {
  transform: scale(0.95);
}
.gallery__button_disable .gallery__button-icon, .gallery__button_disable:hover .gallery__button-icon, .gallery__button_disable:active .gallery__button-icon {
  fill: #b0b0b0;
  stroke: #b0b0b0;
  border-color: #b0b0b0;
  transform: scale(1);
}
.gallery__button_prev {
  transform: rotate(180deg);
}
.gallery__button-icon {
  fill: #347c80;
  stroke: #347c80;
  height: 48px;
  width: 48px;
  border: 2px solid #347c80;
  border-radius: 24px;
  transition: all 0.3s;
}

.service {
  background-color: #ffffff;
}
.service__content {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto 10px 376px;
  overflow: hidden;
}
.service__content-item {
  position: absolute;
  top: -100%;
  left: 0;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 62px;
  height: 376px;
  gap: 16px;
  opacity: 0;
  transition: top 0.8s, opacity 0.2s ease-in;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 10;
}
.service__content-item_active {
  top: 0;
  opacity: 1;
  transition: top 0.6s, opacity 0.8s ease-out;
}
.service__content-item-img {
  grid-column: 1;
  grid-row: 1/3;
  border-radius: 8px;
  height: auto;
  width: 100%;
  max-width: 560px;
}
.service__content-item-text {
  grid-column: 2;
  grid-row: 1;
}
.service__content-item-button {
  grid-column: 2;
  grid-row: 2;
  z-index: 100;
  justify-self: end;
  align-self: end;
}
.service__content-item-button-icon {
  display: block;
  stroke: #43B4BC;
  fill: #43B4BC;
  height: 52px;
  width: 52px;
  transition: all 0.3s;
  z-index: 10;
}
.service__content-item-button:hover .service__content-item-button-icon {
  stroke: #FFAC72;
  fill: #FFAC72;
}
.service__button {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: #ffffff;
  z-index: 100;
}
.service__button:hover .service__button-img-wrap {
  background-color: #fdc496;
}
.service__button_active .service__button-text:after {
  width: 100%;
  transition: width 0.3s;
}
.service__button-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43B4BC;
  min-height: 88px;
  min-width: 88px;
  border-radius: 44px;
  transition: all 0.4s;
}
.service__button-text {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #1B2A43;
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
.service__button-text:after {
  position: absolute;
  content: "";
  display: block;
  background-color: #43B4BC;
  width: 0;
  height: 2px;
  transition: width 0.1s;
  bottom: 0;
}
.service__button-icon {
  display: none;
}
.service__content-line {
  position: absolute;
  grid-row: 2;
  height: 10px;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}
.service__content-line::after {
  content: "";
  position: absolute;
  top: 4px;
  background-color: #43B4BC;
  height: 2px;
  width: 100%;
}

.price__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
}
.price__title-wrap {
  grid-column: 1/3;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 8px;
  margin-bottom: 32px;
}
.price__title {
  grid-row: 2;
  text-align: end;
  margin-bottom: 0;
  line-height: 2rem;
}
.price__title-exp {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  line-height: 1.25rem;
}
.price__title-icon {
  grid-column: 2;
  grid-row: 1;
}
.price__img-wrap {
  grid-column: 1;
  grid-row: 2;
}
.price__list-wrap {
  grid-column: 2;
  grid-row: 2;
}
.price__footer {
  grid-column: 1;
  grid-row: 3;
  margin: 32px 0 0 auto;
}

.feedback {
  background-color: #ffffff;
}
.feedback__content {
  display: flex;
  gap: 16px;
}
.feedback__content .wpcf7 {
  flex-basis: 50%;
}
.feedback__content .wpcf7-form-control::placeholder {
  color: #d9d9d9;
}
.feedback__img-wrap {
  flex-basis: 50%;
  align-self: start;
  overflow: hidden;
  border-radius: 8px;
  height: 416px;
}

@media (max-width: 1280px) {
  .price-block.block {
    padding-top: 0;
  }
  .price {
    position: relative;
  }
  .price__content {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .price__title-wrap {
    grid-row: 2;
    grid-column: 1;
    margin-top: 80px;
  }
  .price__img-header {
    display: block;
  }
  .price__img-header img {
    width: 100%;
  }
  .price__img {
    display: none;
  }
  .price__list-wrap {
    grid-row: 3;
    grid-column: 1;
  }
  .price__footer {
    grid-row: 4;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
  }
  .feedback {
    padding-top: 0;
  }
  .feedback__content {
    flex-direction: column;
  }
  .feedback__title {
    margin-top: 80px;
  }
  .service__content {
    grid-template-rows: auto 18px 321px;
  }
  .service__content-item {
    grid-template-rows: 253px 52px;
  }
  .service__content-item-text {
    font-size: 0.875rem;
    line-height: 1.24rem;
  }
  .service__content-item-button-icon {
    width: 32px;
  }
}
@media (max-width: 800px) {
  .gallery__img-slider {
    position: relative;
    width: auto;
    height: calc((100vw - 16px) / 1.78);
    max-height: 315px;
  }
  .gallery__img {
    width: 50%;
  }
  .service__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8px;
  }
  .service__content-item {
    position: static;
    grid-column: 1;
    grid-row: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    top: 0;
    height: 0;
    transition: all 0.1s;
  }
  .service__content-item_active {
    max-height: 800px;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s;
  }
  .service__content-item-picture {
    grid-column: 1;
    grid-row: auto;
    height: auto;
    width: auto;
    max-width: 560px;
    justify-self: center;
  }
  .service__content-item-text {
    grid-column: 1;
    grid-row: auto;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .service__content-item-button {
    grid-column: 1;
    grid-row: auto;
  }
  .service__content-line {
    display: none;
  }
  .service__button {
    grid-column: 1;
    grid-row: auto;
    flex-direction: row;
    border: 1px solid #347c80;
    border-radius: 8px;
    padding: 16px;
  }
  .service__button-img-wrap {
    height: 64px;
    width: 64px;
  }
  .service__button-img {
    height: 32px;
  }
  .service__button-text {
    font-weight: 400;
  }
  .service__button-text::after {
    content: none;
  }
  .service__button-icon {
    display: block;
    width: 48px;
    height: 48px;
    fill: #43B4BC;
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: 0;
    transition: all 0.3s;
  }
  .service__button-icon svg {
    width: 100%;
  }
  .service__button:hover .service__button-img-wrap {
    background-color: #43B4BC;
  }
  .service__button_active .service__button-icon {
    transform: rotate(-90deg);
  }
}
@keyframes phone-ring {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
.contacts-block {
  padding-top: 96px;
  padding-bottom: 192px;
}
.contacts-block__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 64px;
}
.contacts-block__content .opening-hours-text {
  color: #1B2A43;
}
.contacts-block .opening-hours {
  grid-column: 1/3;
  justify-content: center;
  margin-bottom: 112px;
}
.contacts-block__exp {
  margin-bottom: 60px;
}
.contacts-block__exp_form {
  grid-column: 1;
  grid-row: 2;
  padding-left: 64px;
}
.contacts-block__exp_contact {
  grid-column: 2;
  grid-row: 2;
}
.contacts-block__form {
  grid-column: 1;
  grid-row: 3;
  padding-left: 64px;
}
.contacts-block__contacts {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.contacts-block__contacts .contact {
  align-items: end;
  width: fit-content;
  gap: 8px;
}
.contacts-block__contacts .contact__item {
  width: 100%;
}
.contacts-block__contacts .contact__item_email {
  justify-content: start;
}
.contacts-block__contacts .contact__text:first-child {
  color: #1B2A43;
}

@media (max-width: 1280px) {
  .contacts-block__form {
    padding-left: 0;
  }
}
@media (max-width: 800px) {
  .contacts-block .social {
    display: none;
  }
  .contacts-block__content {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 48px;
  }
  .contacts-block .opening-hours {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0;
  }
  .contacts-block__exp {
    justify-self: center;
  }
  .contacts-block__exp_form {
    grid-column: 1;
    grid-row: 4;
    padding-left: 0;
    margin-bottom: 0px;
  }
  .contacts-block__exp_contact {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: -32px;
  }
  .contacts-block__form {
    grid-column: 1;
    grid-row: 5;
    padding-left: 0;
  }
  .contacts-block__contacts {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    gap: 24px;
  }
}
.price .price-list {
  padding-left: 256px;
  padding-right: 256px;
}
.price__title {
  margin-top: 0;
}

@media (max-width: 1280px) {
  .price .price-list {
    padding-left: 0;
    padding-right: 0;
  }
}
.gallery-page__images-container {
  max-width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 368px);
  justify-content: center;
}
.gallery-page .gallery-img__block {
  position: relative;
  height: 214px;
}
.gallery-page .gallery-img__block:after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 4px;
  height: 100%;
  background-color: #ffffff;
}
.gallery-page .gallery-img__wrap .gallery-img__text {
  top: 8px;
  font-size: 0.85rem;
}
.gallery-page .gallery-img__wrap_after .gallery-img__text {
  left: 8px;
}
.gallery-page .gallery-img__wrap_before .gallery-img__text {
  right: 8px;
}

@media (max-width: 800px) {
  .gallery-page__images-container {
    grid-template-columns: 1fr;
  }
  .gallery-page__img-wrap {
    max-width: 368px;
    width: 100%;
    justify-self: center;
  }
}
@media (max-width: 400px) {
  .gallery-page .gallery-img__block {
    height: calc((100vw - 32px) / 1.72);
  }
}
.blog__carts {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 32px;
  align-items: stretch;
  justify-content: start;
}
.blog__carts .blog-cart {
  flex-basis: 368px;
}

@media (max-width: 800px) {
  .blog__carts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 32px;
    justify-content: center;
  }
  .blog__carts .blog-cart {
    flex-basis: 560px;
  }
}
.blog-details__content {
  padding-top: 86px;
  padding-left: calc(50% - 450px);
  padding-right: calc(50% - 450px);
}
.blog-details__title {
  font-size: 1.75rem;
  margin-top: 48px;
  margin-bottom: 16px;
}
.blog-details__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 32px;
  margin-bottom: 16px;
}
.blog-details__img {
  display: block;
  margin: 32px auto;
  width: 70%;
}
.blog-details__paragraph {
  margin-bottom: 16px;
}
.blog-details__list {
  margin-left: 32px;
}
.blog-details__list-item {
  margin-bottom: 8px;
}
.blog-details ul.blog-details__list li::marker {
  content: "- ";
  font-size: 1.2rem;
}

@media (max-width: 1280px) {
  .blog-details__content {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
}
@media (max-width: 800px) {
  .blog-details__content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
